#chartContainer { 
    overflow-x: scroll;
}

.button {
    display: inline-block;
    padding: 5px 5px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #000000;
    background-color: #99C1DC;
    border: none;
    border-radius: 5px;
    box-shadow: 0 9px #999;
}

.button:hover {
    background-color: rgb(111, 153, 180);
}

.button:active {
    background-color: rgb(111, 153, 180);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#pokemon_img {
    max-width: 100%;
    height: auto;
}

.whiteBackground {
    background-color: white;
}

.buttonRow {
    padding-bottom: 5%;
}