#chartContainer { 
    overflow-x: scroll;
}

/* .button {
    border-bottom: 1px solid #777777;
    border-left: 1px solid #000000;
    border-right: 1px solid #333333;
    border-top: 1px solid #000000;
    color: #000000;
    display: block;
    height: 2.5em;
    padding: 0 1em;
    width: 5em;       
    text-decoration: none;       
} */

.button {
    display: inline-block;
    padding: 5px 5px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #000000;
    background-color: #99C1DC;
    border: none;
    border-radius: 5px;
    box-shadow: 0 9px #999;
}

.button:hover {
    background-color: rgb(111, 153, 180);
}

.button:active {
    background-color: rgb(111, 153, 180);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#pokemon_img {
    max-width: 100%;
    height: auto;
}
