<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pokedex Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <script src="http://d3js.org/d3.v4.min.js"></script>
    <script src="http://dimplejs.org/dist/dimple.v2.3.0.min.js"></script>
</head>
<body style="background-color: rgb(255, 249, 226)">
    
        
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <img src="../imgs/pokemon-logo.png">
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-12">
                <p>
                    Welcome to the Base Stats Pokedex designed by Will and Stan! Here you can view information on the base stats of each pokemon in the first generation.
                </p>
                <p>
                    What are base stats? Base stats are essentially a pokemon's potential in each stat type. This ranges on a scale from 1 to 255.
                </p>
                <p>
                    Below you will find a chart displaying all pokemon's base stats compared to each other:
                </p>
            </div>
        </div>

        <div id="chartContainer" class="container">
        
        </div>

        <div class="row">
            <div class="col-md-12 text-center">
                <input id="clickMe" class="button" type="button" value="Total" onclick="totalStats();" />
                <input id="clickMe" class="button" type="button" value="HP" onclick="hpStats();" />
                <input id="clickMe" class="button" type="button" value="Attack" onclick="attackStats();" />
                <input id="clickMe" class="button" type="button" value="Defense" onclick="defenseStats();" />
                <input id="clickMe" class="button" type="button" value="Sp. Atk" onclick="spAttackStats();" />
                <input id="clickMe" class="button" type="button" value="Sp. Def" onclick="spDefenseStats();" />
                <input id="clickMe" class="button" type="button" value="Speed" onclick="speedStats();" />
            </div> 
        </div>  
    </div>
    
    
    <script src="../static/app.js"></script>
</body>
</html>